<MarketplaceDetails>
  <SmallAppTile>logo-app-windows-phone-icon-bg-black-99.png</SmallAppTile>
  <LargeAppTile>logo-app-windows-phone-icon-bg-black-173.png</LargeAppTile>
  <PCAppTile>logo-app-windows-phone-icon-bg-black-200.png</PCAppTile>
  <ScreenShots>capture1.png;capture2.png;capture3.png;capture.png;;;;;</ScreenShots>
</MarketplaceDetails>